body{
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  align-items: center;
  text-align: center;
}
.container{
background-image: url('hojita.png');
width: 400px;
padding: 20px;
margin-left: 30%;
align-items: center;
text-align: center;
padding-right: 2em;
margin-top: 2em;

}
.nota{
background-color: yellow;
width: 100px;
height: 100px;
border: 3px solid black;
box-shadow: 0.5em 0.5em rgba(0, 0, 0, 0.135);

padding: 2em;
margin: 2em;
margin-left: 100px;
align-items: center;
}
button{
background-color: rgb(246, 212, 166);
border-radius: 10%;
border:1px solid black;

}

h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#show-notas {
  margin-top: 20px; /* Añade margen superior a la sección de notas */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex; /* Activa el modo flexbox */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas */
  justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
  align-items: flex-start;
  background-color: bisque;
 }
.lista-notas {
 flex: 0 0 200px; /* Define el ancho mínimo y máximo de las notas */
 margin: 10px; /* Añade margen entre las notas */
}